In [1]:
import pandas as pd

# Assuming data.csv is in the same directory as your Jupyter Notebook
file_path = "data.csv"

# Read the CSV file into a DataFrame
books_df = pd.read_csv(file_path)

# Display the first few rows of the DataFrame to verify the data has been read properly
books_df.head()

,isbn13,isbn10,title,subtitle,authors,categories,thumbnail,description,published_year,average_rating,num_pages,ratings_count
0,9780002005883,0002005883,Gilead,NaN,Marilynne Robinson,Fiction,http://books.google.com/books/content?id=KQZCP...,A NOVEL THAT READERS and critics have been eag...,2004.0,3.85,247.0,361.0
1,9780002261982,0002261987,Spider's Web,A Novel,Charles Osborne;Agatha Christie,Detective and mystery stories,http://books.google.com/books/content?id=gA5GP...,A new 'Christie for Christmas' -- a full-lengt...,2000.0,3.83,241.0,5164.0
2,9780006163831,0006163831,The One Tree,NaN,Stephen R. Donaldson,American fiction,http://books.google.com/books/content?id=OmQaw...,Volume Two of Stephen Donaldson's acclaimed se...,1982.0,3.97,479.0,172.0
3,9780006178736,0006178731,Rage of angels,NaN,Sidney Sheldon,Fiction,http://books.google.com/books/content?id=FKo2T...,"A memorable, mesmerizing heroine Jennifer -- b...",1993.0,3.93,512.0,29532.0
4,9780006280897,0006280897,The Four Loves,NaN,Clive Staples Lewis,Christian life,http://books.google.com/books/content?id=XhQ5X...,Lewis' work on the nature of love divides love...,2002.0,4.15,170.0,33684.0

In [4]:
# Count the number of rows in the DataFrame
num_rows = books_df.shape[0]
print("Number of rows in the DataFrame:", num_rows)

Number of rows in the DataFrame: 6810

In [3]:
num_unique_authors = books_df['authors'].nunique()
print("Number of unique authors:", num_unique_authors)

Number of unique authors: 3780

In [5]:
# Count the number of unique values in the "categories" column
num_unique_categories = books_df['categories'].nunique()
print("Number of unique categories:", num_unique_categories)

Number of unique categories: 567

In [11]:
# Drop rows with null values in specified columns
cleaned_books_df = books_df.dropna(subset=['authors', 'categories', 'average_rating', 'num_pages', 'ratings_count', 'published_year'])

# Reset the index of the DataFrame after dropping rows
cleaned_books_df.reset_index(drop=True, inplace=True)

# Print the first few rows of the cleaned DataFrame to verify
cleaned_books_df.head()

,isbn13,isbn10,title,subtitle,authors,categories,thumbnail,description,published_year,average_rating,num_pages,ratings_count
0,9780002005883,0002005883,Gilead,NaN,Marilynne Robinson,Fiction,http://books.google.com/books/content?id=KQZCP...,A NOVEL THAT READERS and critics have been eag...,2004.0,3.85,247.0,361.0
1,9780002261982,0002261987,Spider's Web,A Novel,Charles Osborne;Agatha Christie,Detective and mystery stories,http://books.google.com/books/content?id=gA5GP...,A new 'Christie for Christmas' -- a full-lengt...,2000.0,3.83,241.0,5164.0
2,9780006163831,0006163831,The One Tree,NaN,Stephen R. Donaldson,American fiction,http://books.google.com/books/content?id=OmQaw...,Volume Two of Stephen Donaldson's acclaimed se...,1982.0,3.97,479.0,172.0
3,9780006178736,0006178731,Rage of angels,NaN,Sidney Sheldon,Fiction,http://books.google.com/books/content?id=FKo2T...,"A memorable, mesmerizing heroine Jennifer -- b...",1993.0,3.93,512.0,29532.0
4,9780006280897,0006280897,The Four Loves,NaN,Clive Staples Lewis,Christian life,http://books.google.com/books/content?id=XhQ5X...,Lewis' work on the nature of love divides love...,2002.0,4.15,170.0,33684.0

In [12]:
num_rows1 = cleaned_books_df.shape[0]
num_unique_authors1 = cleaned_books_df['authors'].nunique()
num_unique_categories1 = cleaned_books_df['categories'].nunique()

print("Number of rows in the DataFrame:", num_rows1)
print("Number of unique authors:", num_unique_authors1)
print("Number of unique categories:", num_unique_categories1)

Number of rows in the DataFrame: 6599
Number of unique authors: 3728
Number of unique categories: 563